* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/tobias-keller-73F4pKoUkM0-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 4px solid rgba(255, 255, 255, .2);
    border-radius: 25px;
    padding: 25px 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 420px;
    padding: 40px;
    backdrop-filter: blur(7px);
}

.formulario h1 {
    justify-content: center;
    display: flex;
    color: white;
    padding-bottom: 20px;
}

.formulario p {
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

.formulario label {
    color: white;
    padding: 0px;
    font-size: small;
}

.formulario input {
    background-color: transparent;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px 5px;
    color: white;
}

input::placeholder {
    color: white;
}

.formulario button {
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 25px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
}

.cadastro:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: white;
    transition: 0.7s;
}

.icone {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.icone i {
    margin-right: 10px;
    color: white;
}

.formulario a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    margin-left: 15px;
}

.formulario:hover a {
    text-decoration: underline;

}